body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	font-family: "微软雅黑";
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background-color: #0b122e;
	color: #fff;
	position: relative;
	font-family: "微软雅黑";
}
table
  {
  border-collapse:collapse;
  }
img{vertical-align: middle;}
ul { margin: 0; padding: 0;}
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
	overflow: hidden;
}

.clearfix {
	*zoom: 1;
}
header{width:1860px; height: 90px; background: url(../images/bg_top.png) center no-repeat ; text-align: center; font-size: 36px; color: #00f6ff; line-height: 90px; margin: 0 auto;}
#content{width: 1860px; height: 100%; margin: 20px auto 0 auto;}

#content .content_center{width: 1160px; height: 100%; float: left; margin-left: 20px;}
.content_center .center_top{width: 1150px; height: 410px;  float: left; background: url(../images/center01_0517.png) no-repeat;}
.content_center .center_top_shuiqin{width: 1150px; height: 540px;  float: left; background: url(../images/center01_shuiqin.png) no-repeat;}
.content_center .title{width: 1435px; height: 70px; float: left; color: #00f6ff; font-size: 20px; line-height: 70px; background:url(../images/bottom_line.png) bottom center no-repeat; text-align: center;}
.content_center .title img{vertical-align: middle;}
.content_center .center_top_con{ height: 480px; width: 1123px; padding:0px; float: left;padding-left: 0px;}
.panel-table {text-align: left;color: #ccc;margin: 0 auto !important;width: 96%;	margin-top: 20px !important;padding: 0.5rem 0 !important;font-size: 1.2rem;}
.content_center .center_bot{width: 1090px; height: 476px; float: left; background: url(../images/center02_0517_xia.png) no-repeat; margin-top: 20px; padding: 10px 30px;}
.content_center .center_bot_shuiqin{width: 1090px; height: 350px; float: left; background: url(../images/center02_shuiqin_xia.png) no-repeat; margin-top: 20px; padding: 10px 30px;}
.content_center .center_bot .chartpanel{width: 1070px; height: 220px; float: left; margin-top: 0px; padding: 10px;}
.content_center .center_bot .rangDiv{width: 1350px; height: 20px; float: left; padding-left: 70px;vertical-align:middle;}

#content .content_center_shuizhi{width: 1160px; height: 100%; float: left; margin-left: 0px;}
.content_center_shuizhi .center_top{width: 1150px; height: 410px;  float: left; background: url(../images/center01_0517.png) no-repeat;}
.content_center_shuizhi .center_top_shuiqin{width: 1150px; height: 614px;  float: left; background: url(../images/center01_shuizhi.png) no-repeat;}
.content_center_shuizhi .title{width: 1435px; height: 70px; float: left; color: #00f6ff; font-size: 20px; line-height: 70px; background:url(../images/bottom_line.png) bottom center no-repeat; text-align: center;}
.content_center_shuizhi .title img{vertical-align: middle;}
.content_center_shuizhi .center_top_con{ height: 480px; width: 1123px; padding:0px; float: left;padding-left: 0px;}
.content_center_shuizhi .center_bot_shuiqin{width: 1090px; height: 350px; float: left; background: url(../images/center02_shuizhi_xia.png) no-repeat; margin-top: 20px; padding: 10px 30px;}
.content_center_shuizhi .center_bot .chartpanel{width: 1070px; height: 220px; float: left; margin-top: 0px; padding: 10px;}
.content_center_shuizhi .center_bot .rangDiv{width: 1350px; height: 20px; float: left; padding-left: 70px;vertical-align:middle;}


#content .content_right{width: 385px; height: 100%; float: left;margin-left: 20px;}
.content_right .topPanel{width: 660px; height: 309px; margin-top: 0px; float: left; background: url(../images/bg_report_youshang.png) no-repeat;}
.content_right .topPanel_shuizhi{width: 414px; height: 309px; margin-top: 0px; float: left; background: url(../images/bg_report_youshang_shuizhi.png) no-repeat;}
.content_right .topPanel_chushi .tablePanel{width: 564px; height: 400px; padding: 10px; font-size: 16px; overflow: hidden;}
.yuo_xia{width: 660px; height: 296px; margin-top: 8px; float: left; background: url(../images/bg_report_youshang.png) no-repeat;}
.yuo_xia_shuizhi{width: 418px; height: 296px; margin-top: 8px; float: left; background: url(../images/bg_report_youshang_shuizhi.png) no-repeat;}

.content_right .bottomPanel{width: 660px; height: 305px; margin-top: 8px; float: left; background: url(../images/bg_report_youshang.png) no-repeat;}
.content_right .bottomPanel_shuizi{width: 419px; height: 305px; margin-top: 8px; float: left; background: url(../images/bg_report_youshang_shuizhi.png) no-repeat;}


.tabtitle{width: 385px; height: 50px; float: top; color: #FFD000; font-size: 20px;font-weight:bold; line-height: 50px; background:url(../images/bottom_line.png) bottom no-repeat; text-align: center;}
.tabtitle img{vertical-align: middle;}
.centerTabTitle{width: 1100px; height: 50px; float: top; color: #FFD000; font-size: 20px; font-weight:bold;line-height: 50px; background:url(../images/bottom_line.png) bottom center no-repeat; text-align: center;}
.centerTabTitle .title img{vertical-align: middle;}


/*弹窗*/
.pop,.pop2,.pop3 {display: none;  width: 600px; min-height: 100px;  max-height: 750px;  height:300px;  position: absolute; top:180px;  left: 0;  right: 0; margin:auto;  padding: 25px;  z-index: 130;  border-radius: 3px;  background-color: #0B122E; border: #000 solid 1px;  box-shadow: 0 5px 18px rgba(100, 0, 0, .5);  }
.pop-top{ text-align: center; font-size: 20px; font-weight:bold; color: #ff6f05; height:40px;  width:100%; background: url(../images/line.png) no-repeat bottom center;}
.pop-top span{  float: right;  cursor: pointer; color: #fff; font-weight: bold; display:black}
.pop-foot{  height:40px;  line-height:40px;  width:100%;  text-align: right;  }
.pop-cancel{  padding:5px 15px;  margin:15px 5px;  border: none;  border-radius: 5px;  background-color: #ff6f05;  color: #fff;  cursor:pointer;  }
.pop-content{  height: 200px;}
.bgPop,.bgPop2,.bgPop3{  display: none;  position: absolute;  z-index: 129;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(0,0,0,.2);}
,.bgPop3{  display: none;  position: absolute;  z-index: 129;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(0,0,0,.2);}

table { table-layout: fixed;}
table tr td {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
}

.menu, .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu {
    height: 45px;
}
.menu li {
    background: -moz-linear-gradient(#073E83, #0F1F40);
    background: -ms-linear-gradient(#073E83, #0F1F40);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #073E83), color-stop(100%, #0F1F40));
    background: -webkit-linear-gradient(#073E83, #0F1F40);
    background: -o-linear-gradient(#073E83, #0F1F40);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#073E83', endColorstr='#0F1F40');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#073E83', endColorstr='#0F1F40')";
    background: linear-gradient(#073E8380, #0F1F4080);

    border-bottom: 0px solid #181818;
    border-top: 0px solid #303030;
    border-left: 1px solid #0493C230;
    min-width: 120px;
}
.menu > li {
    display: block;
    float: left;
    position: relative;
}
.menu > li:first-child {
    border-radius: 5px 0 0;
}

.menu a {    
    color: #FFF;
    display: block;
    font-family: 'Lucida Console';
    font-size: 20px;
    font-weight:bold;
    line-height: 40px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu li:hover {
    background-color: #1c1c1c;
    background: -moz-linear-gradient(#1c1c1c, #1b1b1b);
    background: -ms-linear-gradient(#1c1c1c, #1b1b1b);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c1c1c), color-stop(100%, #1b1b1b));
    background: -webkit-linear-gradient(#1c1c1c, #1b1b1b);
    background: -o-linear-gradient(#1c1c1c, #1b1b1b);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1c1c', endColorstr='#1b1b1b')";
    background: linear-gradient(#1c1c1c, #1b1b1b);

    border-bottom: 2px solid #222222;
    border-top: 2px solid #1B1B1B;
}
.menu li:hover > a {
    border-radius: 5px 0 0 0;
    border-left: 5px solid #C4302B;
    color: #C4302B;
    padding: 0px;
}

.submenu {
    left: 0;
    max-height: 0;
    position: absolute;
    top: 100%;
    z-index: 0;

    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    perspective: 400px;
}
.submenu li {
    opacity: 0;

    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);

    -webkit-transition: opacity .4s, -webkit-transform .5s;
    -moz-transition: opacity .4s, -moz-transform .5s;
    -ms-transition: opacity .4s, -ms-transform .5s;
    -o-transition: opacity .4s, -o-transform .5s;
    transition: opacity .4s, transform .5s;
}
.menu .submenu li:hover a {
    border-left: 5px solid #454545;
    border-radius: 0;
    color: #ffffff;
}
.menu > li:hover .submenu, .menu > li:focus .submenu {
    max-height: 2000px;
    z-index: 10;
}
.menu > li:hover .submenu li, .menu > li:focus .submenu li {
    opacity: 1;

    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.menu li:hover .submenu li:nth-child(1) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.menu li:hover .submenu li:nth-child(2) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.menu li:hover .submenu li:nth-child(3) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.menu li:hover .submenu li:nth-child(4) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.menu li:hover .submenu li:nth-child(5) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.menu li:hover .submenu li:nth-child(6) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.menu li:hover .submenu li:nth-child(7) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.menu li:hover .submenu li:nth-child(8) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}

.submenu li:nth-child(1) {
    -webkit-transition-delay: 350ms;
    -moz-transition-delay: 350ms;
    -ms-transition-delay: 350ms;
    -o-transition-delay: 350ms;
    transition-delay: 350ms;
}
.submenu li:nth-child(2) {
    -webkit-transition-delay: 300ms;
    -moz-transition-delay: 300ms;
    -ms-transition-delay: 300ms;
    -o-transition-delay: 300ms;
    transition-delay: 300ms;
}
.submenu li:nth-child(3) {
    -webkit-transition-delay: 250ms;
    -moz-transition-delay: 250ms;
    -ms-transition-delay: 250ms;
    -o-transition-delay: 250ms;
    transition-delay: 250ms;
}
.submenu li:nth-child(4) {
    -webkit-transition-delay: 200ms;
    -moz-transition-delay: 200ms;
    -ms-transition-delay: 200ms;
    -o-transition-delay: 200ms;
    transition-delay: 200ms;
}
.submenu li:nth-child(5) {
    -webkit-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    transition-delay: 150ms;
}
.submenu li:nth-child(6) {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    -ms-transition-delay: 100ms;
    -o-transition-delay: 100ms;
    transition-delay: 100ms;
}
.submenu li:nth-child(7) {
    -webkit-transition-delay: 50ms;
    -moz-transition-delay: 50ms;
    -ms-transition-delay: 50ms;
    -o-transition-delay: 50ms;
    transition-delay: 50ms;
}
.submenu li:nth-child(8) {
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}


.bgmap{ z-index: -1;top:0px; left: 0px;  animation: myfirst2 15s infinite linear;}
@keyframes myfirst2
{
from {transform: rotate(0deg);}
to {transform: rotate(359deg);}
}


@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .masked{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #0e84ff 25%, #0ee5ff 50%, #0e84ff 75%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 0.8s infinite linear;
    }
	.masked1{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 5s infinite linear;
    }
	.masked2{
        background-image: -webkit-linear-gradient(left, #0ee5ff, #f4ab20 50%, #0ee5ff 50%, #f4ab20 100%, #0ee5ff);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-background-size: 200% 100%;
        -webkit-animation: masked-animation 5s infinite linear;
    }
}
@-webkit-keyframes masked-animation {
    0%  { background-position: 0 0;}
    100% { background-position: -100% 0;}
}

.css_map_focusAnimation{
        height:50px;
        width:50px;
        border-radius: 25px;
        background: rgba(255, 0, 0, 0.9);
        transform: scale(0);
        animation: map_focusfirst 3s;
        animation-iteration-count: infinite;
    }
 
    @keyframes map_focusfirst{
        to{
            transform: scale(2);
            background: rgba(0, 0, 0, 0);
        }
    }